<mat-sidenav mode="side" opened>
    <mat-nav-list role="list">
        <mat-list-item role="listitem" routerLink="/featured">
            <mat-icon mat-list-icon>Home</mat-icon>
            <span mat-line>Home</span>
        </mat-list-item>
        <mat-list-item role="listitem"  routerLink="/subscription">
            <mat-icon mat-list-icon>subscriptions</mat-icon>
            <span mat-line>Subscriptions</span>
        </mat-list-item>
        <mat-list-item role="listitem"  routerLink="/history">
            <mat-icon mat-list-icon>history</mat-icon>
            <span mat-line>History</span>
        </mat-list-item>
        <mat-list-item role="listitem"  routerLink="/liked">
            <mat-icon mat-list-icon>thumb_up</mat-icon>
            <span mat-line>Liked Videos</span>
        </mat-list-item>
      </mat-nav-list>
</mat-sidenav>
